

.pagination{
margin:-10px 0;
}

.carousel{
	margin-top:-18px;
}
.carousel-inner{
	height:600px;
}
.well{
	color:black;
}
.well img{
	width:100px;
	height:100px;
}

.modal-dialog{
	text-align: center;
}
.signupform input[type='file']{
	display:inline-block;
	padding:0 10px;
}
.hichat{
	text-align: center;
}
.chatsimg{
	width:120px;
	border-radius:120px;
}
.likes{
	background-color:transparent;
	border-radius:30px;
}
.likes a{
font-size:30px;
}
.likes:hover a{
	color:blue;
}
.likes:hover span{
	background-color:blue !important;
}
.brlinktr{
	color: green;
	text-shadow: 1px 1px  white;
}
.brlinktr:hover{
	text-shadow: 1px 1px  blue;
	font-size:16px;
}
#reuname,#reunames{
	display:none;
}

.liked{
	font-size: 30px;
width:100px;
}
.actives{
	text-align:center;
	font-size:22px;
}
.travelsinfo{
	width:300px;
	padding-top:30px;
}
.indextravelsinfo{
	height:1200px !important;
	overflow: scroll;
}

.trwarning{
	font-size: 30px;
}
.indexsearch{
	float: right;
	position: block;
	width:700px;
}
.indexmsearch{
	float: right;
	width:500px;
}

.indexsearchform{
	padding:10px;
	height:100px;
	
}
.allmindexdiv{
	background-color: rgb(242, 242, 238);
}
.trback{
	margin-right:;
	font-size:16px;
	float:right;
}
body{
	background-color: rgb(242, 242, 238);
}
#restcost,#restlable{
text-align:center;
background-color: white ;
color:black;
}
.slider img{
width:100%;
}
.aboutuswelcome{
	text-align: center;
}
.aboutuswell{
	text-transform: capitalize;
}
.aboutuswell .fa-bus{
color:green;
	font-size:30px;
}
.br-trv-info{
    border-left:1px  mediumaquamarine solid !important;
    border-right:1px  mediumaquamarine solid !important;
    border-bottom:1px  mediumaquamarine solid !important;
    padding:5px;
}
.adminchatcloseleft {
    padding-left:10px;
    border-radius: 70px 0 70px 0 ;
}
.adminchatcloseright {
    padding-right:80px;
    border-radius: 0 70px 0  70px ;
}