.result_number{
	color:black;
	font-size:13px !important;
}
.result_number .badge{
	background-color:black !important;
}
.table-striped{
	color:black;
}
.table-striped img{
	width:60px;
	border-radius:10px;
}
.showbut{
	border-radius:20px;
}
.showall{
	float:right;
}
.adminaddu,.adminupdateu{
	cursor:pointer;
}
.admindeleteu{
color:brown;
cursor:pointer;
}
.admindeleteu:hover{
color:red;
}
.usericon{
	font-size:40px;
	
}
.admintimg{
	width:40px;
	height:40px;
}


/*admin add employees*/
#updateempimg{
	width:46px;
	height:46px;
	border-radius:20px;
}


.fname{
display: inline-block;
}

